$value:16;

$textUpper:uppercase;
$textCapt:capitalize;
$backgroundSize: cover !important;
$backgroundRepeat:no-repeat !important;
$backgroundPosition:center !important;
$colorDarkBlue:#0a86ab;

$positionRelative:relative;
$positionAbsolute:absolute;
$colorGrey:#404040;
$colorBlue:#20c4f4;
$colorWhite:#fff;
$bgWhite:#fff;
$colorDarkGrey:#f9f9f9;
$textCenter:center;
$colorLightBlack:#303030;
$colorMedBlack:#242424;
$colorDarkBlack:#222122;
$colorDarkBlue:#26a9e0;
$colorMedGrey:#ababab;
$colorMedBlue:#00C0F3;
$colorLblack:#8a8a8a;
$facebookBg:#4a63a4;
$gmailBg:#d83c34;